*{
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
  margin:15px;
}

.We
{
  font-size: x-large;
}
.evs {
color:#bcdd3d;
font-size: 130%;

}


/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6,.col-md-12 {
    float: left;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    margin-left: -10px;
    width: 100%;
  }
  .name3{
    margin-right: 65px;
    width: 100px;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .col-sm-12 {
      float: left;
    width: 100%;
  }
  .content-name{
    margin-right: 30px;
  }
}
.right {
  width : 100%;
}
button{
display: inline-block;
width: 50%;
height: 100%;
 
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color:#bcdd3d;
  border: none;
  border-radius: 5px;
  
  }
  .button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


  div.left {
    background:rgb(62,184,183);
    /* height: 400px;; */
    color: rgb(242,242,242);
    width:50%;
    margin: 0%;
    float: left;
    padding:6%;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */

}
#mydiv
{
    font-size:30px;
}
#mydiv a
{
    font-size:20px;
    color: whitesmoke;
}
div.right{
  background:rgb(142,219,220);
  color: rgb(242,242,242);
  /* float:right; */
  /* height:400px; */
  width:50%;
  margin: 0%;
  padding:2.1%;
  float: left;
 
 
}

  